html {
    background-color: rgb(255, 255, 255);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

p {
    color: black;
    text-align: center;
    padding: 20px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
}

a {
    color: black;
    text-decoration: none;
    text-align: center;
}

.hover :hover {
    border: white;
    border-style: solid;
    border-width: 24px; 
    padding-top: 18px;
    padding-bottom: 18px;
    border-color: #fff;
    border-radius: 5px; 
}

.start {
    font-size: 2px;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

h1 {
    padding: 10px;
}

.header {
    background-color: cadetblue;
}

.subheader {
    background-color: cadetblue;
}

.test {
    padding: 125px;
    font-size: 8px;
}